<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.parkingapp.homeactivity">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--SCREEN ORIENTATION = PORTRAIT PER IMPEDIRE ROTAZIONE SCHERMO, CHE SPESSO E' DANNOSA PER GLI ASYNC TASKS-->

        <!--main activity-->
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!--home activity-->
        </activity>
        <activity android:name=".HomeActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.parkingapp.homeactivity"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <!--login activity-->
        <activity android:name=".LogInActivity"
            android:screenOrientation="portrait">
        <intent-filter>
            <action android:name="DaLoginOrSigninALogin"/>
            <category android:name="android.intent.category.DEFAULT"/>
        </intent-filter>
    </activity>

        <!--log/sign activity-->
        <activity android:name=".LoginOrSigninActivity">
        <intent-filter>
            <action android:name="DaMainALoginOrSignin"/>
            <category android:name="android.intent.category.DEFAULT"/>
        </intent-filter>
    </activity>

        <!--signin activity-->
        <activity android:name=".SigninActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="DaLoginOrSigninASignin"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>


        <activity android:name="RichiesteConferma.RichiestaConferma">
            <intent-filter>
                <action android:name="DaRichiestaConfermaAHomeActivity"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>


    </application>

    <!--permessi-->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-feature android:name="android.hardware.wifi" android:required="true" />


</manifest>